body{background-color:white;}
.fontzf{font-size:16px;}
.fontzf1{font-size:18px;color:red;font-weight:bolder;}
.fontzf2{font-size:16px;color:red;}
.fontzf3{font-size:14px;}
.izf{font-size:50px;color:green;}
.footer{margin-top:40px;font-size:14px;color:#999;padding-bottom:80px;}